* {
  user-select: none;
  font-size: 20px;
}

canvas {
  display: block;
  width: 100%;
  margin: 1rem auto 0;
}

form {
  width: 100%;
  display: inline-flex;
  flex-flow: row wrap;
  gap: 1rem;
}

input[type="file"] {
  /* making the element block level */
  width: 100%;
}

.display-none {
  display: none !important;
}